/* Register component styles */
.register-container{ width: 100%; max-width: 500px; margin: 24px auto 0 auto; background: white; border-radius: 3px; padding: 16px 12px;}
.register-container h2{margin:0 0 24px 0; font-weight: 600;}
.register-container h2 span:first-child{ display: block; font-size: 32px;}
.register-container h2 span:nth-child(2){ font-size: 18px; font-weight: normal}
.register-container h2 span:last-child{ font-size: 10px; font-weight: normal }

.register-container form .row{margin: 0 0 16px 0;}

.register-container form input[type="text"],
.register-container form input[type="email"],
.register-container form input[type="password"]{display: block; width: 96%; border: 1px solid lightgray; border-radius: 3px; padding: 8px 2%;}

.register-container form .name{display: flex;}
.register-container form .name input:first-child{margin-right: 8px}

.register-container form .radio input{margin: 0 8px 0 0}
.register-container form .radio label{padding: 0 8px 0 0; cursor: pointer}

.register-container form .btn-validate{ padding: 6px 16px; background: #69a74e; border-color: #559038; font-size: 16px;}

.register-container .error{margin: 16px 0 0 0; padding:0 0 8px 0; font-size: 14px; font-weight: 600; color: #ff0f0f;}