/*Logo Styles*/

.logo{ display: flex; align-items: center; color: white; position: relative;
    span{font-weight: 600;}
    span.center{position: relative; font-size: 20px; position: relative; font-family:Arial, Helvetica, sans-serif;}
    span.center span{position: absolute; left: 63%; top: -8px; font-family:Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; transform: rotate(-14deg);}
    span.stamp{ padding: 2px 10px;  position: absolute; right: -80px; border: 1px solid white; border-radius: 5px;  color: white; font-weight: normal;font-size: 12px;}
}
   