/* StackComponent styles */

.stack{ margin:0 24px 0 0; padding: 0; background: white; border-radius: 3px; box-shadow: 0 0 8px lightgrey;
    h3{ font-size:16px; margin: 0 0 8px 0; padding: 0 12px; color: #385898; }
    ul{margin: 0 0 16px 0; padding: 0 12px}
    li{margin: 0 0 5px 0; font-size: 12px;}
}